@page
@model RateMyLearning.Pages.PrivacyModel
@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "About us";
}
<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
    <div class="container">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12 text-block">
                <div class="row">
                    <div class="col">
                        <div class="intro-text">
                            <h1 class="font-weight-light text-light mt-5 mr-8 intro-lead-in">Our Mission</h1>
                            <h2 class="h3 lead text-light mb-4 intro-heading" style="font-family:'Agency FB'">To provide an adequate feedback system about post secondary programs and courses for potential students</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!--Lookup data availability-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center mt-2" style="font-family:'Agency FB'">About</h1>
                <p>
                    Rate my learning is an educational rating tool that will help students learn more about the programs
                    they want to enroll in as well as potential career paths associated with their area of interest
                </p>
                <p>
                    Post-secondary education is an important milestone for anyone who has to opportunity to entroll. Deciding where you want to start your journey takes thourough thought, research and planning
                    in order to make the best decision for yourself.
                </p>
                <p>
                    Furthermore, Post-secondary education is important, as it improves the chances of better employment and opportunities. Schools are currently lacking a system that would
                    allow recent and potential students to review or gather opinions regarding ongoing courses and programs. Similar to how Amazon has a review section for their products;
                    <strong>RATE MY LEARNING </strong> is a website created that will allow users to share their honest opinions and about specific courses and/or
                    overall program experience in which they were enrolled in. This promotes to future students whom are interested in registering at a College or University.
                </p>
                <p>
                    Our goal is to educate and inform students on the type of courses they will be taking when choosing a program, but also to better the services schools provide.
                    Currently, there isn’t really a good review system a lot of schools use that students are interested in. With the introduction of this website,
                    students can anonymously (or use their real name if they wish) post what they think of the program/course
                    and what can be improved. Schools are able to use this data for bettering their courses and services by creating a better educational atmosphere for students.
                </p>
                <hr />
            </div>
        </div>
        <div class="team-section text-center dark-grey-text">
            <h1 class="text-center mt-2" style="font-family:'Agency FB'">The team</h1>

            <!-- Section description -->
            <p class="text-muted w-responsive mx-auto mb-5">
                Meet the makers
            </p>

            <!-- Grid row -->
            <div class="row text-center">

                <!-- Grid column -->
                <div class="col-md-4 mb-4">
                    <div class="avatar mx-auto">
                        <img src="~/img/goat.jpg" length="200px" width="200" class="rounded z-depth-1-half" alt="Sample avatar">
                    </div>
                    <h4 class="font-weight-bold dark-grey-text my-4">Catherine Olejarczyk</h4>
                    <h6 class="text-uppercase grey-text mb-3"><strong>Front-end Developer</strong></h6>
                    <!--Linkedin -->
                    <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-li">
                        <i class="fab fa-linkedin-in "></i>
                    </a>
                    <!--Email-->
                    <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-email">
                        <i class='fas fa-envelope'></i>
                    </a>
                    <!-- GitHub-->
                    <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-git">
                        <i class="fab fa-github"></i>
                    </a>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4 mb-4">
                    <div class="avatar mx-auto">
                        <img src="~/img/goat.jpg" length="200px" width="200" class="rounded z-depth-1-half" alt="Sample avatar">
                    </div>
                    <h4 class="font-weight-bold dark-grey-text my-4">Marcus Rodrigues</h4>
                    <h6 class="text-uppercase grey-text mb-3"><strong>Back-end Developer<br />Team leader</strong></h6>
                    <!--Linkedin -->
                    <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-li">
                        <i class="fab fa-linkedin-in "></i>
                    </a>
                    <!--Email-->
                    <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-email">
                        <i class="fas fa-envelope"></i>
                    </a>
                    <!-- GitHub-->
                    <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-git">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4 mb-4">
                    <div class="avatar mx-auto">
                        <img src="~/img/goat.jpg" length="200px" width="200" class="rounded z-depth-1-half" alt="Sample avatar">
                    </div>
                    <h4 class="font-weight-bold dark-grey-text my-4">Fatima Kharodia</h4>
                    <h6 class="text-uppercase grey-text mb-3"><strong>Front-end Developer</strong></h6>
                    <!--Linkedin -->
                    <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-li">
                        <i class="fab fa-linkedin-in "></i>
                    </a>
                    <!--Email-->
                    <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-email">
                        <i class="fas fa-envelope"></i>
                    </a>
                    <!-- GitHub-->
                    <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-git">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
                <!-- Grid column -->

            </div>
        </div>
    </div>
</section>

