@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
/*CSS FOR ENITER SITE*/
.masthead {
    /*height: 100vh;*/
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
.text-block {
    position: inherit;
    bottom: 200px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 230px;
}

.btn {
    background-color: #3d5a80;
}
.button {
  border: none;
}
footer {
  background-color: #293241;
}
nav > .nav.nav-tabs{

  border: none;
    color:#fff;
    background:#272e38;
    border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
  border: none;
    padding: 18px 25px;
    color:#ee6c4d;
    border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #3d5a80 ;
}
.tab-content{
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid #3d5a80;
    border-bottom:5px solid #3d5a80;
    padding:30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
    background: #98c1d9;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}
.form-group {
    padding: 30px 0;
    background-color: #ee6c4d;
    opacity: .9;
}
/*CSS FOR STAR RATING SYSTEM*/
.rating_stars {
    margin-top: 15px;
    display: inline-block;
    font-size: 20px;
    font-weight: 200;
    color: #918f8f;
    position: relative;
}
.star-rating {
    line-height: 32px;
    font-size: 1.25em;
}
.star-rating .fa-star {
    color: #ee6c4d;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ee6c47;
    background-color: #272e38;
    border-color: #dee2e6 #dee2e6 #fff;
}
/*CSS FOR LOGIN PAGE HERE*/
.bg-image {
    background-image: url('../img/computer.jpg');
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/*CSS FOR REGISTER HERE*/
.bg-image {
    background-image: url('../img/computer.jpg');
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.btn-floating.btn-sm i {
    font-size: .96154rem;
    line-height: 36.15385px;
}

.btn-floating i {
    display: inline-block;
    width: inherit;
    color: #ee6c4d;
    text-align: center;
}
.fa, .fas {
    font-weight: 900;
}

