@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
.masthead {
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
.text-block {
    position: inherit;
    bottom: 200px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 230px;
}

.btn {
    background-color: #3d5a80;
}
.button {
  border: none;
}
footer {
  background-color: #293241;
}
nav > .nav.nav-tabs{

  border: none;
    color:#fff;
    background:#272e38;
    border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
  border: none;
    padding: 18px 25px;
    color:#ee6c4d;
    border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #3d5a80 ;
}
.tab-content{
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid #3d5a80;
    border-bottom:5px solid #3d5a80;
    padding:30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
    background: #98c1d9;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}
.form-group {
    padding: 30px 0;
    background-color: #ee6c4d;
    opacity: .9;
}
.rating_stars {
    margin-top: 15px;
    display: inline-block;
    font-size: 20px;
    font-weight: 200;
    color: #918f8f;
    position: relative;
}
.star-rating {
    line-height: 32px;
    font-size: 1.25em;
}
    .star-rating .fa-star {
        color: #ee6c4d;
    }

    .rating_stars span .fa, .rating_stars span.active-low .fa-star-o, .rating_stars span.active-high .fa-star-o {
        display: none;
    }

    .rating_stars span .fa-star-o {
        display: inline-block;
    }

    .rating_stars span.s.active-high .fa-star {
        display: inline-block;
        color: #feb645;
    }

    .rating_stars span.s.active-low .fa-star-half-o {
        display: inline-block;
        color: #feb645;
    }

    .rating_stars span.r {
        position: absolute;
        top: 0;
        height: 20px;
        width: 10px;
        left: 0;
    }

        .rating_stars span.r.r0_5 {
            left: 0px;
        }

        .rating_stars span.r.r1 {
            left: 10px;
            width: 11px;
        }

        .rating_stars span.r.r1_5 {
            left: 21px;
            width: 13px;
        }

        .rating_stars span.r.r2 {
            left: 34px;
            width: 12px;
        }

        .rating_stars span.r.r2_5 {
            left: 46px;
            width: 12px;
        }

        .rating_stars span.r.r3 {
            left: 58px;
            width: 11px;
        }

        .rating_stars span.r.r3_5 {
            left: 69px;
            width: 12px;
        }

        .rating_stars span.r.r4 {
            left: 81px;
            width: 12px;
        }

        .rating_stars span.r.r4_5 {
            left: 93px;
            width: 12px;
        }

        .rating_stars span.r.r5 {
            left: 105px;
            width: 12px;
        }